<div class="main container mt-3">
  <div class="row justify-content-center d-flex">
    <div class="col-md-3">

      <h2>User info</h2>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-6 col-lg-6">name</th>
            <th class="col-6 col-lg-6"><%= @book.user.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-6 col-lg-6">introduction</td>
            <td class="col-6 col-lg-6"><%= @book.user.introduction %></td>

          </tr>
        </tbody>
      </table>  <%= link_to edit_user_path(@book.user), class: "text-dark" do %>
      <button class="form-control fas_button_borderradius btn-block">
      <i class="fa-solid fa-user-gear"></i>
      </button>
      <% end %>

      <%= render 'new', book: @book.user %>

    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">

        <tbody>

          <tr>
            <th>
              <%= link_to @book.user do %>
              <%= image_tag @book.user.get_profile_image(100,100) %><br>
              <%= @book.user.name %>
              <% end %>
            </th>
            <th>
              <%= link_to @book do %>
              <%= @book.title %>
              <% end %>

            </th>
            <th>
              <%= @book.body %>
            </th>
             <th>
              <% if @book.user == current_user %>
              <%= link_to edit_book_path(@book.id) do %>
              <button class="btn btn-success text-light text-decoration-none">
                Edit
              </button>
              <% end %>
              <% end %>
            </th>
            <th>
              <% if @book.user == current_user %>
              <%= link_to book_path(@book), method: :delete, "data-confirm" => "Are you sure?" do %>
              <button class="btn btn-danger text-light text-decoration-none">
                Destroy
              </button>
              <% end %>
              <% end %>


            </th>
          </tr>



        </tbody>
      </table>

    </div>
  </div>
</div>
